# Node
node_modules/

# Build artifacts
dist/
stats.html
playwright-report/
test-results/
coverage/
docs/.vitepress/cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# IDE & OS files
.vscode/
.idea/
.DS_Store
